body {
	font-family: 'Lato';
	font-weight: 300;
}

* {
	box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

.error-message {
	text-align: center;
	color: #F44336;
}

button.brand-button {
	background-color: #2E7D32;
	box-shadow: 0px 2px 6px #D5D5D5, 0px 2px 6px #B8B8B8;
	color: white;
	font-size: 14px;
	font-weight: bold;
	border-radius: 3px;
	border: 0;
	padding: 7px 24px 7px 24px;
}

button.secondary-brand-button {
	background-color: #4CAF50;
	color: white;
	font-size: 14px;
	font-weight: bold;
	border-radius: 3px;
	border: 0;
	padding: 7px 24px 7px 24px;
}

button.warning-brand-button {
	background-color: #F44336;
	color: white;
	font-size: 14px;
	font-weight: bold;
	border-radius: 3px;
	border: 0;
	padding: 7px 24px 7px 24px;
}

button.inverse-brand-button {
	border: 2px solid #2E7D32;
	box-shadow: 0px 2px 6px #D5D5D5, 0px 2px 6px #B8B8B8;
	color: #2E7D32;
	font-size: 14px;
	font-weight: bold;
	border-radius: 3px;
	padding: 7px 24px 7px 24px;
	background-color: transparent;
}

.svgIcon {
}

.mat-input-placeholder {
	color: #9B9B9B;
	letter-spacing: 1px;
}

.mat-input-underline {
	border-color: #9B9B9B;
}

.mat-input-placeholder.mat-focused {
	color: #2E7D32;
}

.mat-input-underline .mat-input-ripple {
	background-color: #2E7D32;
}

.mat-input-placeholder.mat-float.mat-focused .mat-placeholder-required, input.mat-input-element:-webkit-autofill+.mat-input-placeholder .mat-placeholder-required {
	color: #F44336;
}

.mat-select-trigger {
	color: #9B9B9B;
}

.mat-select-placeholder {
	color: #9B9B9B;
}

.mat-select-underline {
	background-color: #9B9B9B;
}

.mat-select-arrow {
	color: #9B9B9B;
}

.mat-select:focus:not(.mat-select-disabled) .mat-select-underline {
	background-color: #2E7D32;
}

.mat-select:focus:not(.mat-select-disabled) .mat-select-arrow {
	color: #2E7D32;
}

.mat-select-content, .mat-select-panel-done-animating {
	background: #fff;
}

.mat-select-value {
	color: black;
}

.mat-option.mat-option-disabled {
	color: #9B9B9B;
}



