<div id="{{elementId}}" #modalcontainer class="modal fade" tabIndex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!-- <img class="logo" src="images/friday-square.svg"> -->
				<div class="title">{{title}}</div>
				<img (click)="closeModal()" class="cancelIcon svgIcon" src="../../images/cancel.svg"/>
			</div>
			<div class="modal-body" [style.height]="getHeight()" (click)="closeModal()">
				<ng-content></ng-content>
			</div>
		</div>
	</div>
</div>