<div *ngIf="!edit_mode">
	<h1>{{currentUser.first_name}} {{currentUser.last_name}}</h1>

	<div *ngIf="!currentUser.car_model">
		<h4>Driver Rating: {{currentUser.driver_rating}}</h4>
	</div>

	<h2><span class="contact-info-title">Contact Info</span></h2>

  <div class="personal_details">
  	<div class="contact-info row">
  		Facebook: <a>{{currentUser.facebook_link}}</a>
  	</div>

  	<div class="contact-info row">
  		Email: {{currentUser.email}}
  	</div>

  	<div class="contact-info row">
  		Phone Number: {{currentUser.phone_number}}
  	</div>
  </div>

  <div class="button-row">
  	<button class="secondary-brand-button" (click)="edit()">
  		EDIT
  	</button>
  </div>
</div>

<div *ngIf="edit_mode">
	<form #profileForm="ngForm" novalidate>
    <div class="form-group">
      <md-input-container>        
        <input mdInput [(ngModel)]="first_name" name="first_name" id="first_name" type="text" placeholder="{{firstNamePlaceholder}}" required/>
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container>        
        <input mdInput [(ngModel)]="last_name" name="last_name" id="last_name" type="text" placeholder="{{lastNamePlaceholder}}" required/>
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container>        
        <input mdInput [(ngModel)]="phone_number" name="phone_number" id="phone_number" type="text" placeholder="{{phonePlaceholder}}" required/>
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container>        
        <input mdInput [(ngModel)]="facebook_link" name="facebook_link" id="facebook_link" type="text" placeholder="{{facebookPlaceholder}}" required/>
      </md-input-container>
    </div>

    <div class="button-row">
		  <button class="warning-brand-button" (click)="cancel()">Cancel</button>
		  <button class="secondary-brand-button" (click)="checkError(profileForm)" type="submit">Save</button>
	  </div>
  </form>
</div>