<h1>Trip Detail View</h1>

<button (click)="back()">Back</button>

<div *ngIf="errorMessage">{{errorMessage}}</div>

<div>
	Trip Id: {{trip.id}}
	Trip From Location: {{trip.from_city}}
	Trip To Location: {{trip.to_city}}
	Trip Time: {{trip.date}}
	Trip Price: {{trip.price}}
</div>

<button (click)="confirmRequest()">Request Ride</button>

<simple-modal #confirmModal closeOnBodyClick='false' elementId="confirmModal" title="Confirm this Request?">
	You have: ({{requestsRemaining}}) Requests remaining
  <button (click)="requestRide()">Confirm</button>
</simple-modal>