<div class="container">

	<div class="row">
		<img (click)="back()" class="backIcon svgIcon" src="../../../../images/back.svg"/>
		<div class="price">${{trip.price}}</div>
	</div>

	<div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>

	<h1>Trip Details</h1>

	<div class="row detail-row">
		<div class="col-sm-3">
			
		</div>
		<div class="col-sm-3 left-side">
			From:
		</div>
		<div class="col-sm-6 right-side">
			<div class="trip-meta">{{trip.from_metadata}}</div>
			<div class="trip-details">{{trip.from_city}}, {{trip.from_state}}</div>
		</div>
	</div>

	<div class="row detail-row">
		<div class="col-sm-3">
			
		</div>
		<div class="col-sm-3 left-side">
			To:
		</div>
		<div class="col-sm-6 right-side">
			<div class="trip-meta">{{trip.to_metadata}}</div>
			<div class="trip-details">{{trip.to_city}}, {{trip.to_state}}</div>
		</div>
	</div>

	<div class="row detail-row">
		<div class="col-sm-3">
			
		</div>
		<div class="col-sm-3 left-side">
			At:
		</div>
		<div class="col-sm-6 right-side">
			<div class="trip-meta">{{hours}}:{{minutes}} {{pm}}</div>
			<div class="trip-details">{{time | date : 'fullDate'}}</div>
		</div>
	</div>

	<div class="row detail-row" *ngIf="trip.trip_details">
		<div class="col-sm-3">
			
		</div>
		<div class="col-sm-3 left-side">
			Trip Details:
		</div>
		<div class="col-sm-6 right-side">
			<div class="trip-details">{{trip.trip_details}}</div>
		</div>
	</div>

	<div class="row detail-row">
		<div class="col-sm-3">
			
		</div>
		<div class="col-sm-3 left-side">
			Driver:
		</div>
		<div class="col-sm-6 right-side">
			<div class="trip-meta">{{driver.first_name}} {{driver.last_name}}</div>
			<div class="trip-details">Rating: {{driver.rating}}</div>
		</div>
	</div>

	<div class="row detail-row">
		<div class="col-sm-3">
			
		</div>
		<div class="col-sm-3 left-side">
			Trip Id:
		</div>
		<div class="col-sm-6 right-side">
			<div class="trip-id">{{trip.id}}</div>
		</div>
	</div>

	<div class="button-row">
		<button (click)="confirmRequest()" class="secondary-brand-button">Request Ride</button>
	</div>

</div>



<simple-modal #confirmModal closeOnBodyClick='false' elementId="confirmModal" title="Confirm this Request?">
	<div class="confirm-description">
		<p>Are you sure you want to make this request?</p>
		<p>You have ({{requestsRemaining}}) Requests remaining</p>
		<p>If you get accepted for this request, all of your other requests from {{trip.from_city}} to {{trip.to_city}} will be cancelled.</p>
		<button (click)="requestRide()" class="secondary-brand-button">Confirm Request</button>
	</div>
</simple-modal>