h1 {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #2E7D32;
	padding-bottom: 15px;
}

h2 {
	text-align: center;
	margin-bottom: 15px;
}

.form-group {
	text-align: center;
}

md-input-container {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.trip_details {
	width: 70%;
}

.col-sm-6 {
	padding-left: 5px;
	padding-right: 5px;
}

input {
	font-size: 1.2em;
}

.button-row {
	text-align: center;
	margin-bottom: 25px;
}

.warning-brand-button {
	margin-right: 5px;
}

.secondary-brand-button {
	margin-left: 5px;
}

.left-side {
	font-size: 1.2em;
}

.right-side {
	font-size: 1.2em;
}

.detail-row {
	margin-top: 12px;
}

.trip-details-city {
	font-size: 0.7em;
}

.button-row-2 {
	margin-top: 25px;
	text-align: center;
	margin-bottom: 0px;
}