<h1>Create Trip View</h1>

<form #createTripForm="ngForm" (ngSubmit)="confirm(createTripForm.value)" novalifromState>
  
  <div ngModelGroup="fromLocation" #locationGroup="ngModelGroup">
	  <div class="form-group">
	    <em *ngIf="createTripForm.controls.fromMetadata?.invalid && (createTripForm.controls.fromMetadata?.touched || mouseoverForm)">Required</em>
	    <md-input-container>        
	      <input mdInput [(ngModel)]="fromMetadata" name="fromMetadata" id="fromMetadata" type="text" placeholder="Details" required/>
	    </md-input-container>
	  </div>

	  <div class="form-group">
	    <em *ngIf="createTripForm.controls.fromCity?.invalid && (createTripForm.controls.fromCity?.touched || mouseoverForm)">Required</em>
	    <md-input-container>        
	      <input mdInput [(ngModel)]="fromCity" name="fromCity" id="fromCity" type="text" placeholder="City" required/>
	    </md-input-container>
	  </div>

	  <div class="form-group">
	    <em *ngIf="createTripForm.controls.fromState?.invalid && (createTripForm.controls.fromState?.touched || mouseoverForm)">Required</em>
	    <md-input-container>
	      <input mdInput [(ngModel)]="fromState" name="fromState" id="fromState" type="text" placeholder="State" required/>
	    </md-input-container>
	  </div>

	  <div class="form-group">
	    <em *ngIf="createTripForm.controls.fromCountry?.invalid && (createTripForm.controls.fromCountry?.touched || mouseoverForm)">Required</em>
	    <md-input-container>
	      <input mdInput [(ngModel)]="fromCountry" name="fromCountry" id="fromCountry" type="text" placeholder="Country" required/>
	    </md-input-container>
	  </div>
  </div>

  <div ngModelGroup="toLocation" #locationGroup="ngModelGroup">
	  <div class="form-group">
	    <em *ngIf="createTripForm.controls.toMetadata?.invalid && (createTripForm.controls.toMetadata?.touched || mouseoverForm)">Required</em>
	    <md-input-container>
	      <input mdInput [(ngModel)]="toMetadata" name="toMetadata" id="toMetadata" type="text" placeholder="Details" required/>
	    </md-input-container>
	  </div>

	  <div class="form-group">
	    <em *ngIf="createTripForm.controls.toCity?.invalid && (createTripForm.controls.toCity?.touched || mouseoverForm)">Required</em>
	    <md-input-container>
	      <input mdInput [(ngModel)]="toCity" name="toCity" id="toCity" type="text" placeholder="City" required/>
	    </md-input-container>
	  </div>

	  <div class="form-group">
	    <em *ngIf="createTripForm.controls.toState?.invalid && (createTripForm.controls.toState?.touched || mouseoverForm)">Required</em>
	    <md-input-container>
	      <input mdInput [(ngModel)]="toState" name="toState" id="toState" type="text" placeholder="State" required/>
	    </md-input-container>
	  </div>

	  <div class="form-group">
	    <em *ngIf="createTripForm.controls.toCountry?.invalid && (createTripForm.controls.toCountry?.touched || mouseoverForm)">Required</em>
	    <md-input-container>
	      <input mdInput [(ngModel)]="toCountry" name="toCountry" id="toCountry" type="text" placeholder="Country" required/>
	    </md-input-container>
	  </div>
  </div>

  <div class="form-group">
    <em *ngIf="createTripForm.controls.numPassengers?.invalid && (createTripForm.controls.numPassengers?.touched || mouseoverForm)">Required</em>
    <md-input-container>
      <input mdInput [(ngModel)]="numPassengers" name="numPassengers" id="numPassengers" type="text" placeholder="Number Of Passengers" required/>
    </md-input-container>
  </div>

  <div class="form-group">
    <em *ngIf="createTripForm.controls.date?.invalid && (createTripForm.controls.date?.touched || mouseoverForm)">Required</em>
    <md-input-container>
      <input mdInput [(ngModel)]="date" name="date" id="date" type="datetime-local" placeholder="Pick-Up Location" required/>
    </md-input-container>
  </div>

  <div class="form-group">
    <em *ngIf="createTripForm.controls.price?.invalid && (createTripForm.controls.price?.touched || mouseoverForm)">Required</em>
    <md-input-container>
      <input mdInput [(ngModel)]="price" name="price" id="price" type="text" placeholder="Price" required/>
    </md-input-container>
  </div>

  <div class="form-group">
    <em *ngIf="createTripForm.controls.tripDetails?.invalid && (createTripForm.controls.tripDetails?.touched || mouseoverForm)">Required</em>
    <md-input-container>
      <input mdInput [(ngModel)]="tripDetails" name="tripDetails" id="tripDetails" type="text" placeholder="Trip Details"/>
    </md-input-container>
  </div>

  <span (mouseenter)="mouseoverForm=true" (mouseleave)="mouseoverForm=false">
    <button [disabled]="createTripForm.invalid" type="submit" class="btn btn-primary">Create</button>
  </span>
  <button (click)="cancel()">Cancel</button>
  
  createTripForm valid: {{createTripForm.valid}}
</form>

<simple-modal #confirmModal closeOnBodyClick='false' elementId="confirmModal" title="Confirm this posting?">
  <div>{{fromMetadata}}</div>
  <div>{{fromCity}}</div>
  <div>{{fromState}}</div>
  <div>{{fromCountry}}</div>
  <div>{{toMetadata}}</div>
  <div>{{toCity}}</div>
  <div>{{toState}}</div>
  <div>{{toCountry}}</div>
  <div>{{numPassengers}}</div>
  <div>{{date}}</div>
  <div>{{price}}</div>
  <button (click)="create(createTripForm.value)">Confirm</button>
</simple-modal>