<form #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm.value)" novalidate>

	<div *ngIf="passwordsDontMatch" class="error-message">Passwords do not match!</div>

	<div class="form-group">
	  <md-input-container>
	    <input mdInput (ngModel)="password" name="password" id="password" type="text" placeholder="New Password" required/>
	  </md-input-container>
	</div>

	<div class="form-group">
	  <md-input-container>
	    <input mdInput (ngModel)="confirm_password" name="confirm_password" id="confirm_password" type="text" placeholder="Confirm Password" required/>
	  </md-input-container>
	</div>

	<div class="button-row">
	  <button [disabled]="changePasswordForm.invalid" type="submit" class="brand-button login-button">Change Password</button>
	</div>
</form>