<h2>Listing Detail Component</h2>
<button (click)="confirmCancel()">Cancel Trip</button>

<h5>Trip Id: {{trip_details.id}}</h5>
<h5>Trip From Location: {{trip_details.from_city}}</h5>
<h5>Trip To Location: {{trip_details.to_city}}</h5>
<h5>Trip Time: {{trip_details.date*1000 | date}}</h5>
<h5>Trip Price: {{trip_details.price}}</h5>

<div *ngFor="let request of user_requests">
	Request
	<h4>{{request.first_name}}</h4>
	<button (click)="accept(request)">Accept Rider</button>
</div>

<div *ngFor="let accepted of accepted_users">
	Accepted
	<h4>{{accepted.first_name}}</h4>
</div>

<button (click)="back()">Back</button>

<simple-modal #confirmCancelModal closeOnBodyClick='false' elementId="confirmCancelModal" title="Cancel this listing?">
  Are you sure you want to delete this trip posting?
  <button (click)="cancelTrip()">Confirm</button>
</simple-modal>

<simple-modal #confirmCancelUsersModal closeOnBodyClick='false' elementId="confirmCancelUsersModal" title="Cancel this listing?">
  Are you sure you want to delete this trip posting?
  You have already accepted users!
  <button (click)="cancelTrip()">Confirm</button>
</simple-modal>