li > a {
	display: inline;
}

.mat-input-container {
	display: block;
}
.mat-input-underline {
	position: relative;
}

button {
	height: 38px;
	margin-top: 9px;
	margin-left: 5px;
	font-family: 'Open Sans';
	box-shadow: 0px 1px 3px #2E7D32, 0px 1px 3px #2E7D32;
	letter-spacing: 1.2px;
}

.navbar {
	height: 60px;
	background-color: #9CCC65;
	margin-bottom: 0px;
	box-shadow: 0px 1px 3px #2E7D32;
	border: 0;
}

.navbar-brand {
	height: 60px;
	padding-top: 18px;
	font-size: 28px;
	color: white;
}

.navbar-brand:hover {
	color: white;
}