.loggedInOptions {
	margin-top: 20px;
}

li > a {
	display: inline;
	font-weight: bold;
	font-family: 'Open Sans';
	color: #2E7D32;
}

.mat-input-container {
	display: block;
}
.mat-input-underline {
	position: relative;
}

button {
	height: 38px;
	margin-top: 10px;
	margin-left: 5px;
	font-family: 'Open Sans';
	box-shadow: 0px 1px 3px #2E7D32, 0px 1px 3px #2E7D32;
	letter-spacing: 1.2px;
}

.navbar {
	height: 60px;
	background-color: #9CCC65;
	margin-bottom: 0px;
	box-shadow: 0px 1px 3px #2E7D32;
	border: 0;
}

.navbar-brand {
	height: 60px;
	padding-top: 18px;
	font-size: 28px;
	color: white;
}

.navbar-brand:hover {
	color: white;
}

.form-group {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.form-group > a {
	float: right;
	margin-top: -5px;
}

md-input-container {
	margin-top: 35px;
	font-size: 1.1em;
}

.button-row {
	text-align: center;
	margin-top: 30px;
	clear: both;
}

.invalid-login {
	color: #F44336;
	text-align: center;
}

.signup-link {
	text-align: center;
	margin-top: 10px;
}

.login-header {
	text-align: center;
}